@using Store.Application.Dto.Administration;
@model IEnumerable<SubcategoryDto>;
<table>
    <tr>
        <th>Название</th>
        <th>Категория</th>
        <th>Описание</th>
        <th>Можно ли вернуть?</th>
        <th>Порядок</th>
    </tr>
    @foreach (var item in @Model)
    {
        <tr>
            <td>
                <a asp-controller="Catalog" asp-action="Index" asp-route-categoryName="@item.Category.Name" asp-route-subcategoryName="@item.Name">
                    @item.DisplayName
                </a>
            </td>
            <td>@item.Category.DisplayName</td>
            <td>@item.Description</td>
            <td>@item.CanReturn</td>
            <td>@item.Order</td>
            <td><a asp-controller="category" asp-action="update" asp-route-id="@item.Id" class="manage-wrapper-edit-button">изменить</a></td>
            <td>
                <form asp-controller="category" asp-action="delete" asp-route-id="@item.Id"><input type="submit" value="удалить" class="manage-wrapper-delete-button" /></form>
            </td>
        </tr>
    }
</table>